#page{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding-left: 150px;
}
#profile img{
    width: 500px;
    height: 500px;
}
table{
    color: white;
    padding-top: 80px;
    height: 500px;
    font-size: larger;
    margin-left:-70px
}
#fname, #lname, #uname, #password{
    width: 500px;
    height: 50px;
    font-size: large;
    margin-left: 20px;
    border-style: ridge;
    border-color: #c9a959;
}
#submit{
    width: 150px;
    height: 50px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-color: #c9a959;
    color: white;
    margin-left: 200px;
}