h2{
    color: #c9a959;
    text-align: center;
    font-size: xx-large;
}
#stan, #kuca, #pp{
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    column-gap: 10px;
  }
.grid-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: ridge;
    border-color: #c9a959;
}
.grid-item img{
    width: 325px;
    height: 60%;
    padding: 5px;
    margin: 0 auto;
}
p{
    color: white;
    font-size: large;
    display: block; 
}
.cijena{
    text-align: right;
    font-weight: bold;
    color: #c9a959;
    font-size: xx-large;
    margin-top: -90px;
    margin-left: -80px;
}
@media (max-width: 900px) {
    #stan, #kuca, #pp{
        grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr));
    }
}
#page{
    padding-top: 150px;
}
